.myBody {
    text-align: center;
    width: 1200px;
    margin: auto;
    padding-bottom: 20px;
}

.myTable {
    width: 100%;
    border-collapse: collapse;
}

.myTable th,
.myTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.myTable th {
    background-color: #f2f2f2;
}

.myTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.myButtonToMain {
    padding: 10px;
    font-size: 16px;
    margin-top: 25px;
    border-radius: 5px;
    background: #c3e8f6;
    border-color: #2b87ad;
}

.myButtonToLabs {
    padding: 10px;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 5px;
    background: #c3e8f6;
    border-color: #2b87ad;
}

.myButton {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #c3e8f6;
    border-color: #2b87ad;
}

.buttons {
    padding-top: 30px;
}

.request {
    padding: 15px;
}

.input {
    width: 500px;
    height: 100px;
    margin: 0 20px 20px 0;
}
